body {
    font-family: 'Inter', sans-serif;
}
#game-container {
    background: radial-gradient(#76522b, #3d2914);
}
#gameCanvas {
    display: block;
    width: 100%;
    height: 100%;
}
.snake {
    fill: orange;
    stroke: black;
}
.food {
    fill: #ff5722;
}
#startRestartButton {
    top: 65% !important;
}
#gameOverMessage {
    top: 35% !important;
}
